@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container mt-3">
    <div class="row">
        <div class="col d-flex">
            <div class="photo border me-3" style="height: 150px; width: 150px">
                @if(Model.Input.Photo != "")
                {
                    <img src="@Model.Input.Photo" alt="Photo" style="width:100%; height: 100%" />
                }
                
            </div>
            <div class="d-flex flex-column">
                <h5>@Model.Input.Vet.FirstName @Model.Input.Vet.LastName</h5>

                <div class="mt-auto">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#appointments" role="tab">
                                <i class="bi bi-calendar-week-fill me-1"></i>
                                <span class="d-none d-md-inline">Appointments</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#specialisations" role="tab">
                                <i class="bi bi-collection-fill me-1"></i>
                                <span class="d-none d-md-inline">Specialisations</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab">
                                <i class="bi bi-gear-fill me-1"></i>
                                <span class="d-none d-md-inline">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content mt-3">
        <div class="tab-pane fade active show" id="appointments" role="tabpanel">
            <div id="vet-appointments-calendar"></div>
        </div>
        <div class="tab-pane fade" id="specialisations" role="tabpanel">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th>Date from</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var specialisation in Model.Input.VetSpecialisations)
                    {
                        <tr>
                            <td>@specialisation.Specialisation.Name</td>
                            <td>@specialisation.DateFrom.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel">

            <div class="form-group mb-3">
                <label for="login">Login</label>
                <input asp-for="Input.Username" type="text" class="form-control" id="login" disabled>
            </div>

            <button class="btn btn-primary" id="changePassword" type="button">Change password</button>

            <div id="password-box" class="visually-hidden mt-3">
                <form id="set-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Set password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/calendars.js"></script>
<script>
    loadVetAppointmentsCalendar();
    document.getElementById("changePassword").addEventListener("click", () => {
        document.getElementById("password-box").classList.toggle("visually-hidden");
    });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
