@model AnimalDetailViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col d-flex">
            <div class="card border-secondary">
                <div class="card-header bg-secondary text-white"><h5 class="m-0">@Model.Animal.Name</h5></div>
                <div class="card-body">
                    <p class="card-text">
                        Birth date: @Model.Animal.BirthDate.ToString("yyyy-MM-dd") <br />
                        Breed: @Model.Animal.Breed.Name <br />
                        Gender: @(@Model.Animal.Gender == "F" ? "Female" : "Male")<br />
                    </p>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="mt-auto">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation" onclick="loadCalendar()">
                            <a class="nav-link active" data-bs-toggle="tab" href="#appointment" role="tab">
                                <i class="bi bi-calendar-week-fill me-1"></i>
                                <span class="d-none d-md-inline">Appointments</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#weight" role="tab">
                                <i class="bi bi-stopwatch-fill me-1"></i>
                                <span class="d-none d-md-inline">Weights</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#vaccination" role="tab">
                                <i class="bi bi-capsule-pill me-1"></i>
                                <span class="d-none d-md-inline">Vaccinations</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="appointment" role="tabpanel">
                    @if (Model.Animal.Appointments.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                        <div id="calendar"></div>
                    }
                </div>



                <div class="tab-pane fade" id="weight" role="tabpanel">
                    <form method="post" class="input-group mb-3" asp-route-id="@Model.Animal.Id" asp-action="AddNewWeight">
                        <input type="date" class="form-control shadow-none" placeholder="Date" asp-for="NewWeight.Date">
                        <input type="text" class="form-control shadow-none" placeholder="Weight" asp-for="NewWeight.Value">
                        <button class="btn btn-primary px-3" type="submit" id="button-add">Add</button>
                    </form>

                    @if (Model.Animal.Weights.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                        <canvas id="chart"></canvas>
                    }
                </div>

                <div class="tab-pane fade" id="vaccination" role="tabpanel">
                    <form method="post" class="input-group mb-3" asp-route-id="@Model.Animal.Id" asp-action="AddNewVaccination">
                        <select class="form-select" asp-items="Model.TypeOfVaccines" asp-for="NewVaccination.TypeOfVaccineId">
                            <option style="display:none">Name</option>
                        </select>

                        <input type="date" class="form-control shadow-none" placeholder="Date" asp-for="NewVaccination.Date">
                        <input type="date" class="form-control shadow-none" placeholder="Expiry date" asp-for="NewVaccination.ExpiryDate">
                        <button class="btn btn-primary px-3" type="submit" id="button-add">Add</button>
                    </form>

                    @if (Model.Animal.Vaccinations.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                        <div class="accordion">
                            @foreach (var vaccination in Model.Vaccinations)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="@vaccination.Key.Replace(" ", "")">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + @vaccination.Key.Replace(" ", ""))" aria-expanded="false" aria-controls="@("collapse" + @vaccination.Key.Replace(" ", ""))">
                                            @vaccination.Key
                                        </button>
                                    </h2>

                                    <div id="@("collapse" + @vaccination.Key.Replace(" ", ""))" class="accordion-collapse collapse" aria-labelledby="@vaccination.Key.Replace(" ", "")" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Expiry date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in vaccination.Value)
                                                    {
                                                        <tr>
                                                            <td>@item.TypeOfVaccine.Name</td>
                                                            <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                                            <td style="@(item.ExpiryDate < DateTime.Today ? "color: red" : "")">@item.ExpiryDate.ToString("yyyy-MM-dd")</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*

            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade" id="appointment" role="tabpanel">

                    <form method="post" class="mb-3" asp-route-id="@Model.Animal.Id" asp-action="AddNewVaccination">
                        <div class="input-group">
                            <input type="date" class="form-control shadow-none" placeholder="Date" asp-for="NewVaccination.Date">
                            <input type="text" class="form-control shadow-none" placeholder="Description" asp-for="NewVaccination.ExpiryDate">
                            <button class="btn btn-primary" type="submit" id="button-add">Add</button>
                        </div>

                        @*
                        <div class="input-group row text-center">
                        <div class="col">
                        <label for="exampleSelect2" class="form-label">Medicine</label>

                        <select id="exampleSelect2" multiple class="form-select" asp-items="Model.TypeOfVaccines" asp-for="NewVaccination.TypeOfVaccineId">
                        <option style="display:none">Name</option>
                        </select>
                        </div>
                        <div class="col">
                        <label for="exampleSelect2" class="form-label">Medicine</label>

                        <select id="exampleSelect2" multiple class="form-select" asp-items="Model.TypeOfVaccines" asp-for="NewVaccination.TypeOfVaccineId">
                        <option style="display:none">Name</option>
                        </select>
                        </div>
                        <div class="col">
                        <label for="exampleSelect2" class="form-label">Medicine</label>

                        <select id="exampleSelect2" multiple class="form-select" asp-items="Model.TypeOfVaccines" asp-for="NewVaccination.TypeOfVaccineId">
                        <option style="display:none">Name</option>
                        </select>
                        </div>
                        </div>

                    </form>

                    @if (Model.Animal.Appointments.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                        <div class="accordion">
                            @foreach (var appointment in Model.Appointments)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="@("appointment" + appointment.AnimalId)">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collAppointment" + appointment.AnimalId)" aria-expanded="false" aria-controls="@("collAppointment" + appointment.AnimalId)">
                                            @appointment.Date.ToString("yyyy-MM-dd") - @appointment.Description
                                        </button>
                                    </h2>

                                    <div id="@("collAppointment" + appointment.AnimalId)" class="accordion-collapse collapse" aria-labelledby="@("appointment" + appointment.AnimalId)" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            @if (appointment.AppointmentMedicines.Count > 0)
                                            {
                                                <h5>Medicine</h5>
                                                <ul>
                                                    @foreach (var medicine in appointment.AppointmentMedicines)
                                                    {

                                                        <li>@medicine.Medicine.Name - @medicine.Amount</li>
                                                    }
                                                </ul>
                                            }
                                            @if (appointment.AppointmentSurgeries.Count > 0)
                                            {
                                                <h5>Surgery</h5>
                                                <ul>
                                                    @foreach (var surgery in appointment.AppointmentSurgeries)
                                                    {

                                                        <li>@surgery.Surgery.Name</li>
                                                    }
                                                </ul>
                                            }
                                            @if (appointment.AppointmentVets.Count > 0)
                                            {
                                                <h5>Vet</h5>
                                                <ul>
                                                    @foreach (var vet in appointment.AppointmentVets)
                                                    {

                                                        <li>@vet.Vet.FirstName @vet.Vet.LastName</li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
*@


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const datas = JSON.stringify(@Html.Raw(Json.Serialize(Model.Animal.Weights.Select(x=>x.Date.ToString("yyyy-MM-dd")))));
    const weights = JSON.stringify(@Html.Raw(Json.Serialize(Model.Animal.Weights.Select(x=>x.Value))));
    const ctx = document.getElementById('chart');

    const config = {
        type: 'line',
        data: {
            labels: JSON.parse(datas),
            datasets: [{
                label: "",
                data: JSON.parse(weights),
                pointStyle: 'circle',
                borderColor: '#593196',
                pointRadius: 5,
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            onClick: function (evt) {
                const points = chartLine.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                if (points.length) {
                    const firstPoint = points[0];
                    const label = chartLine.data.labels[firstPoint.index];

                    var answer = prompt("Enter a new value. To delete - leave blank");
                    var value = parseInt(answer) ?? 0;

                    $.ajax({
                        type: "POST",
                        url: "/Employee/Animal/UpdateWeights",
                        data: { label, value, id: @Model.Animal.Id },
                        success: function (result) {
                            window.location.href = "/Employee/Animal/Detail/" + @Model.Animal.Id;
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }
            }
        }
    }
    const chartLine = new Chart(ctx, config);

    loadCalendar();
    function loadCalendar() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listMonth',
            navLinks: true,
            dayMaxEvents: true,
            events: "/Employee/Animal/GetAllAppointments/" + @Model.Animal.Id,
            eventClick: function (event) {
                console.log(event);
            },
        });
        calendar.render();
    };

</script>