@model AnimalDetailViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col-5 col-md-4 col-lg-3">
            <div class="card border-primary mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Animal.Name</h4>
                    <p class="card-text">
                        Birth date: @Model.Animal.BirthDate.ToString("yyyy-MM-dd") <br />
                        Breed: @Model.Animal.Breed.Name <br />
                        Gender: @(@Model.Animal.Gender == "F" ? "Female" : "Male")<br />
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 col-md-4 col-lg-3">
            <ul class="nav nav-tabs flex-column w-75" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#weight" aria-selected="true" role="tab" tabindex="-1">Weights</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#vaccination" aria-selected="false" role="tab">Vaccinations</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#appointment" aria-selected="false" role="tab">Appointments</a>
                </li>
            </ul>
        </div>

        <div class="col-7">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="weight" role="tabpanel">

                    <form method="post" class="input-group mb-3" asp-route-id="@Model.Animal.Id" asp-action="AddNewWeight">
                        <input type="date" class="form-control shadow-none" placeholder="Date" asp-for="NewWeight.Date">
                        <input type="text" class="form-control shadow-none" placeholder="Weight" asp-for="NewWeight.Value">
                        <button class="btn btn-primary px-3" type="submit" id="button-add">Add</button>
                    </form>

                    @if (Model.Animal.Weights.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var weights in Model.Animal.Weights)
                            {
                                <tr>
                                    <td>@weights.Date.ToString("yyyy-MM-dd")</td>
                                    <td>@weights.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
                <div class="tab-pane fade" id="vaccination" role="tabpanel">
                    <form method="post" class="input-group mb-3" asp-route-id="@Model.Animal.Id" asp-action="AddNewVaccination">
                        <select class="form-select" asp-items="Model.TypeOfVaccines" asp-for="NewVaccination.TypeOfVaccineId">
                            <option style="display:none">Name</option>
                        </select>

                        <input type="date" class="form-control shadow-none" placeholder="Date" asp-for="NewVaccination.Date">
                        <input type="date" class="form-control shadow-none" placeholder="Expiry date" asp-for="NewVaccination.ExpiryDate">
                        <button class="btn btn-primary px-3" type="submit" id="button-add">Add</button>
                    </form>

                    @if (Model.Animal.Vaccinations.Count() == 0)
                    {
                        <div class="text-center">No data available</div>
                    }
                    else
                    {
                    <div class="accordion">
                        @foreach (var vaccination in Model.Vaccinations)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="@vaccination.Key.Replace(" ", "")">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + @vaccination.Key.Replace(" ", ""))" aria-expanded="false" aria-controls="@("collapse" + @vaccination.Key.Replace(" ", ""))">
                                        @vaccination.Key
                                    </button>
                                </h2>

                                <div id="@("collapse" + @vaccination.Key.Replace(" ", ""))" class="accordion-collapse collapse" aria-labelledby="@vaccination.Key.Replace(" ", "")" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Expiry date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in vaccination.Value)
                                                {
                                                    <tr>
                                                        <td>@item.TypeOfVaccine.Name</td>
                                                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                                        <td style="@(item.ExpiryDate < DateTime.Today ? "color: red" : "")">@item.ExpiryDate.ToString("yyyy-MM-dd")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    }
                </div>
                <div class="tab-pane fade" id="appointment" role="tabpanel">
                    <p>Food truck fixie locavore, labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if ((bool)ViewBag.Success)
{
    <script>
        // Tutaj umieść kod JavaScript, który ma być wykonany po przekierowaniu
        alert("Akcja zakończona sukcesem!");
    </script>
}